body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-20px;
  width:360px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:66px;
  width:360px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:66px;
  width:360px;
  height:175px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:175px;
}
#u4 {
  position:absolute;
  left:2px;
  top:80px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:60px;
  top:126px;
  width:241px;
  height:56px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:56px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:60px;
  top:295px;
  width:230px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:400px;
  top:295px;
  width:230px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:0px;
  top:400px;
  width:360px;
  height:180px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:180px;
}
#u10 {
  position:absolute;
  left:2px;
  top:82px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:66px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:66px;
}
#u12 {
  position:absolute;
  left:2px;
  top:25px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:480px;
  top:26px;
  width:300px;
  height:48px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
